/* Default styles for the browser */
/* Default styles for the browser */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    background-color: white;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 75px;
    margin-top: 5px; /* Optical alignment of the logo */\
   
}

header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}
header nav li:hover{
    
}
header nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

header nav #about_click:hover {
    background: rgb(145,55,208);
background: -moz-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9137d0",endColorstr="#153bb5",GradientType=1);

    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav #work_click:hover {
    background: rgb(145,55,208);
background: -moz-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9137d0",endColorstr="#153bb5",GradientType=1);

    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav #news_click:hover {
    background: rgb(145,55,208);
background: -moz-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9137d0",endColorstr="#153bb5",GradientType=1);

    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav #game_click:hover {
    background: rgb(145,55,208);
background: -moz-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
background: linear-gradient(90deg, rgba(145,55,208,1) 42%, rgba(21,59,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9137d0",endColorstr="#153bb5",GradientType=1);

    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


header nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(198,128,247);

  position: absolute;
  top: 60px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

header nav #game_click:hover::before {
  width: 66px;
}
header nav #about_click:hover::before {
  width: 44px;
}
header nav #work_click:hover::before {
  width: 40px;
}
header nav #news_click:hover::before {
  width: 40px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
  background-color: #148550;
  transition: ease-in 250ms;
  transition: ease-out 250ms;
}
